.App {
  background: $black;
  background-image: url(../../images/GoldenGrid.svg);
  color: $white;
  overflow: hidden;
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
  color: $white;
}
