.contact-container {
  padding: 9em 0.5em;
  display: flex;
  flex-direction: column;
  gap: 6em;
  position: relative;
}

.contact-header-container {
  h1 {
    white-space: nowrap;
    letter-spacing: -12px;
  }
}

.contact-cta-container {
  display: flex;
  gap: 1em;
  width: 50%;
  h5 {
    width: 70%;
    text-align: right;
    padding-bottom: 1em;
  }
  button {
    width: 7.5em;
    height: 2.5em;
    border: 2px solid $green;
    border-radius: 50px;
    color: $green;
    background: none;
    font-size: 22px;
    font-weight: bold;
  }
  @media (max-width: $layout-breakpoint-tablet) {
    width: 100%;
  }
}

.contact-img-container {
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
  height: 50%;
  img {
    width: calc(25vw);
    aspect-ratio: 1/2;
    object-fit: none;
    object-position: 25% 10%;
  }
  @media (max-width: $layout-breakpoint-desktop) {
    padding-top: 2em;
    img {
      width: calc(50vw);
      object-fit: cover;
      aspect-ratio: 1/1;
    }
  }
}

.contact-links-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-bottom: 5em;
}

.contact-image {
}
